@{
    ViewData["Title"] = "Home";
}

<div class="container-home">
    <h1>Bem-vindo ao Mini Estoque</h1>
    <p>Este sistema permite gerenciar seu estoque de produtos de forma simples e eficiente.</p>

    <div style="margin-top: 30px;" class="containerBtnHome">
        <a class="btn btn-primary btnHome" style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-right: 15px;" asp-controller="Produto" asp-action="Index">
            Lista de Produtos
        </a>
        <a href="" class=" btn btn-primary btnHome" style="padding: 10px 20px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">
            Cadastrar Produto
        </a>
    </div>
</div>
